/* Container styling */
.container-tab {
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  /* background-color: #f9fafb; */
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e7eb; 
}

/* Tab Header Layout */
/* .tab-header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
} */


.tab-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
}

/* Base Tab Button Style */
.tab-button {
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: larger;
  font-weight: bold;
  color: #6b7280; /* gray-500 */
  transition: color 0.3s ease;
}

/* Hover Effect */
.tab-button:hover {
  color: #1f2937; /* gray-800 */
}

/* Active Tab */
.tab-button.active {
  color: #111827; /* gray-900 */
  font-weight: 600;
}

/* Underline Effect for Active Tab */
.tab-button.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #111827; /* underline color */
  border-radius: 2px;
  transition: width 0.3s ease;
}

/* Optional: Tab Content Area Spacing */
.tab-content {
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #FFFFFF;
}


