body{
    height: 1000px;
}

.container-tab{
    z-index: 10;
    background-color: #f5f5f5;
    display: block;
    position: sticky;
    top: 0;

    width: 100%;
    height: 55px;
}

/* .container-tab {
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 55px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center; 
} */




/* Tab button base styles */
.tab-button {
  padding: 1rem 3rem;
  border: none;
  /* border-bottom: 2px solid transparent; */
  background-color: transparent;
  cursor: pointer;
  font-weight: bolder;
  
  font-size: larger;
  color: black; /* gray-500 */
  transition: color 0.2s ease, border-bottom 0.2s ease;
}

/* Hover effect */
.tab-button:hover {
  color: #3b82f6; /* blue-500 */
}

/* Active tab style */
.tab-button.active {
  color: #3b82f6; /* blue-500 */
  border-bottom-color: #3b82f6;
}

/* Tab container border */
.tab-header-container {
  display: flex;
  /* border-bottom: 1px solid #d1d5db;  */
}

/* Tab content spacing */
.tab-content {
  margin-top: 3rem;
}
